
<header-page></header-page>

<div class = "row" ng-hide="invalid_order" style="color: red;text-align: center;">      	
						<strong>Your order has been placed.</strong>						
</div>
	<div  class = "row"  ng-hide="lastLoggedIn" style="color: red;text-align: center;">      	
						<strong>Last Logged in at <date>{{profile.lastLog_date | date: "yyyy-MM-dd HH:mm:ss" }}</date></strong>						
	</div>
<div  class = "row"  >      	
						<img src="app/img/header.png" style="width:100%;height:200px;"> 
					</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 thumbnail">
		<!-- <div class="col-md-12">
			<P
				style="padding-left: 25px; font-size: 20px; font-weight: 300; margin: 0 0 0px; color: #333;">Results
				for your search</p>
			<p
				style="padding-left: 25px; top: -25px; font-family: Helvetica Neue, Helvetica, Arial, Roboto, sans-serif; font-size: 15px; color: #767676; font-weight: 400;">1-13
				of 1000</p>
		</div> -->
		
		
		<b ng-repeat="ad in Ads">
			<div class="col-md-12">
				<div class=" col-md-3">

				<img src="app/img/NoImageAvailable.jpg" style="width:100%;height:200px;"> 
				</div>
					<div class="col-md-8"
						style="padding-top: 10px; font-weight: 400; color: #333;">
						<div>
							<span
								style="font-size: 16px; font-family: Helvetica neue, Helvetica, Arial, sans-serif; zoom: 1; text-align: center; font-weight: normal; font-size: 16px; color: #0654ba;">
								<a href="#item/{{ad.adv_id}}">{{ad.item_name}} </a>
							</span>
						</div>
						<div>
							<span
								style="margin-top: 3px; font-size: 13px; line-height: 15px; white-space: nowrap; color: #767676; text-overflow: ellipsis;">
								{{ad.item_desc}}</span>
						</div>
						<div style="padding-top: 10px;">
							<span
								style="font-style: italic; font-size: 20px; font-weight: bold; color: #333;">
								US ${{ad.item_price}}</span>
							<button class="btn pull-right" ng-click="addToCart(ad,1)">Add
								to Cart</button>
						</div>
						<div class="col-md-12"></div>
						<div
							style="color: #333 !important; font-weight: bold; font-size: 13px;">
							<span>Free Shipping</span>
						</div>
						<div style="padding-top: 10px; color: #dd1e31; font-weight: bold;">
							<span>{{ad.quantity_sold}} sold</span>
						</div>
					</div>
			</div>
			<div class="col-md-12">
				<hr></hr>
			</div>
		</b>

	</div>
	<div class="col-md-2"></div>
</div>
</div>
</div>