<style type="text/css">
    .bgimg {
        background-image: url('images/background4.png');
    }
</style>
<div class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <br>
</div>
<div id="wrapper" class="row ng-scope bgimg">
    <br>
    <div class="row">
        <div class="row">
            <div class="col s2"><p>&nbsp</p></div>
            <div class="col s8">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s10">
                              <span class="blue-text">
                                    <blockquote>
                                        <h5><b> Question {{currentQID}}: </b> Convert the number '{{currentQ}}' to binary from decimal</h5>
                                    </blockquote>
                              </span>
                        </div>
                        <div class="col s1">
                            <div id="demoTimer"></div>
                        </div>
                        <div class="col s1">
                            <br><br>
                            <div class="blue-text" id="time"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2"><p>&nbsp</p></div>
        </div>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped7}" ng-click="flip7()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                       0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped6}" ng-click="flip6()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped5}" ng-click="flip5()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped4}" ng-click="flip4()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped3}" ng-click="flip3()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped2}" ng-click="flip2()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped1}" ng-click="flip1()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="flip">
                                <div class="card" ng-class="{'flipped':isFlipped0}" ng-click="flip0()">
                                    <div class="face front">
                                        1
                                    </div>
                                    <div class="face back">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s5"><p>&nbsp</p></div>
                <div class="col s2">
                    <a class="waves-effect waves-light btn-large green" ng-click="sumbitAns()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSubmit&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <div class="col s5"><p>&nbsp</p></div>
            </div>
    </div>
    <footer class="page-footer blue accent-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">Vaishampayan, Ashna Sebastian, Vimal Muraleedharan Nair and Rakesh Datta</p>
                </div>
                <div class="col l2 s12">
                    &nbsp
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li><a class="white-text" href="/levels">Levels</a></li>
                        <li><a class="white-text" href="/register">Regiter</a></li>
                        <li><a class="white-text" href="/login">Login</a></li>
                        <li><a class="white-text" href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3"
                           href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
</div>