	<html>
   <head>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<base href="/"/>
		<link type="text/css" rel="stylesheet" href="css/icon.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/sticky-footer.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css" media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="http://www.housingtrustsv.org/wp-content/uploads/2014/05/favicon.ico" type="image/vnd.microsoft.icon"/>
		<link rel="icon" href="http://www.housingtrustsv.org/wp-content/uploads/2014/05/favicon.ico" type="image/vnd.microsoft.icon"/>
		
		<script type="text/javascript" src="js/init.js"></script>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.3/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/icon.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/sticky-footer.css" media="screen,projection"/>
		
		<!-- <script type="text/javascript" src="angular/housingtrust.js"></script> -->
   </head>
   <body bgcolor="#E9F5FC" style ="background-image: url('binary.gif');"> <!-- ng-app="housingtrustApp"> -->
		<!-- <div ng-view>
			<div ui-view="">
				<div id="wrapper" class=""></div>
			</div>
		</div> -->
   <nav>
	   <div class="nav-wrapper blue accent-2 ">
		   <a href="#" class="brand-logo center"><b>BINARY MANIA</b></a>
		   <ul id="nav-mobile" class="right hide-on-med-and-down">
			   <li><a href="sass.html">Sass</a></li>
			   <li><a href="badges.html">Components</a></li>
			   <li><a href="collapsible.html">JavaScript</a></li>
		   </ul>
	   </div>
   </nav>									
   <div class ="row"></div>
   <div class ="row"></div>
   <div class ="row"></div>
   <div class = "row"  >  		
	   <div class = "col s4" >
		   
			   <div class="card-panel" style ="background-color:black ;width: 100% !important;max-width: 350px;">
				   		<div class ="row" style="text-align:center; color:white;font-size:20px;"> EASY</div>
				   		
				   		<div style="padding-left:50px">
					   		<button class="btn-large waves-effect waves-light" type="submit" name="action">Start Challenge	    
							</button>					 
						   <br>
						</div>
						<table class="bordered" style="width: 100% !important;max-width: 150px;">
					   <thead>
					   <tr>
						   <th style="color: #448aff" data-field="id"> #</th>
						   <th style="color: #448aff" data-field="name">Name</th>
						   <th style="color: #448aff" data-field="gold">Gold</th>
						   <th style="color: #448aff" data-field="silver">Silver</th>
						   <th style="color: #448aff" data-field="bronze">Bronze</th>
						   <th style="color: #448aff" data-field="country">Country</th>
					   </tr>
					   </thead>

					   <tbody>
					   <tr bgcolor="#e1f5fe">
						   <td>1</td>
						   <td>Alvin</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>2</td>
						   <td>Alan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>3</td>
						   <td>Jonathan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   
					   </tbody>
				   </table>
						
				</div>
			</div>
			<div class = "col s4" >
		   
			   <div class="card-panel" style ="background-color:black ;width: 100% !important;max-width: 350px;">
				   		<div class ="row" style="text-align:center; color:white;font-size:20px;"> MEDIUM</div>
				   		
				   		<div style="padding-left:50px;">
					   		<button class="btn-large waves-effect waves-light" type="submit" name="action">Start Challenge	    
							</button>					 
						   <br>
						</div>
						<table class="bordered" style="width: 100% !important;max-width: 150px;">
					   <thead>
					   <tr>
						   <th style="color: #448aff" data-field="id"> #</th>
						   <th style="color: #448aff" data-field="name">Name</th>
						   <th style="color: #448aff" data-field="gold">Gold</th>
						   <th style="color: #448aff" data-field="silver">Silver</th>
						   <th style="color: #448aff" data-field="bronze">Bronze</th>
						   <th style="color: #448aff" data-field="country">Country</th>
					   </tr>
					   </thead>

					   <tbody>
					   <tr bgcolor="#e1f5fe">
						   <td>1</td>
						   <td>Alvin</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>2</td>
						   <td>Alan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>3</td>
						   <td>Jonathan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   
					   </tbody>
				   </table>
						
				</div>
			</div>
			<div class = "col s4" >
		   
			   <div class="card-panel" style ="background-color:black ;width: 100% !important;max-width: 350px;">
				   		<div class ="row" style="text-align:center; color:white;font-size:20px;"> HARD</div>
				   		
				   		<div style="padding-left:50px">
					   		<button class="btn-large waves-effect waves-light" type="submit" name="action">Start Challenge	    
							</button>					 
						   <br>
						</div>
						<table class="bordered" style="width: 100% !important;max-width: 150px;">
					   <thead>
					   <tr>
						   <th style="color: #448aff" data-field="id"> #</th>
						   <th style="color: #448aff" data-field="name">Name</th>
						   <th style="color: #448aff" data-field="gold">Gold</th>
						   <th style="color: #448aff" data-field="silver">Silver</th>
						   <th style="color: #448aff" data-field="bronze">Bronze</th>
						   <th style="color: #448aff" data-field="country">Country</th>
					   </tr>
					   </thead>

					   <tbody>
					   <tr bgcolor="#e1f5fe">
						   <td>1</td>
						   <td>Alvin</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>2</td>
						   <td>Alan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   <tr bgcolor="#e1f5fe">
						   <td>3</td>
						   <td>Jonathan</td>
						   <td style='color:#FFD700'><b>9</b></td>
						   <td style='color:#C0C0C0'><b>9</b></td>
						   <td style='color:#C9AE5D'><b>9</b></td>
						   <td>India</td>
					   </tr>
					   
					   </tbody>
				   </table>
						
				</div>
			</div>
		</div>
				   
   </body>
</html>